@import url('https://fonts.googleapis.com/css?family=Mada:300,400,700');

:root {
  --max-width: 720px;
}

@media screen and (min-width: 1920px) {
  :root {
    --max-width: 1200px;
  }
}


html {
  font-size: 12px;
  height: -webkit-fill-available;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 1ch;
  }
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  font-family: 'Mada', 'Helvetica Neue', helvetica, arial, sans-serif;
  margin: 0;
  font-size: 2.32rem;
  color: #1d2d35;
}

main, footer {
  width: var(--max-width);
  max-width: 90%;
  margin: 0 auto;
}

footer {
  padding-bottom: 4rem;
  text-align: right;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  max-width: calc(2 * var(--max-width));
  margin: 0 auto;
  padding-bottom: 4rem;
}

@media screen and (max-width: 800px) {
  header {
    text-align: center;
  }
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
  margin: 2em 0 0.25em 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.02rem;
}

p {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: -0.02rem;
}

.logo {
  display: inline-block;
  margin: 12px 0 0 12px;
  padding: 0.5em 1em;
  background-color: #fff;
  border-radius: 48px;
  box-shadow: 4px 8px 12px rgba(255, 255, 255, 0.5);
}

.logo__image, .logo__text {
  vertical-align: middle
}

.logo__text {
  display: inline-block;
  color: #1d2d35;
  padding-left: 12px;
  font-size: 36px;
}

a {
  color: #1d2d35;
  transition: all 0.2s ease;
  transition-property: text-decoration-color, text-decoration-thickness;
  text-decoration-thickness: 0.1rem;
  vertical-align: baseline;
}

a[href^="tel:"] {
  text-decoration: none;
}

a:hover {
  text-decoration-color: #ec3a3a;
  text-decoration-thickness: 0.2rem;
}

a:visited, a:active {
  text-decoration: none;
}

header a, header a:visited, header a:link, header a:active, header a:hover {
  text-decoration: none;
}

.error-page {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.error-page main {
  flex: 1 1 100%;
  width: unset;
  max-width: calc(1.5 * var(--max-width));
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .error-page main {
    width: 90%;
    margin: 0 auto;
  }
}

.sorry {
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 60px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .sorry {
    display: block;
  }
}

.error-page h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}
